<div class="row">
	<div class="col-5">
		<input
			type="search"
			class="form-control"
			[(ngModel)]="searchString"
			(keyup)="onKeyUp()"
			placeholder="Search.."
		/>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div class="table-wrapper-scroll-y my-custom-scrollbar" (scroll)="onScroll($event)">
			<table class="table table-bordered" id="symbols-table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Symbol</th>
						<th scope="col">Description</th>
						<th scope="col">Currency</th>
						<th scope="col">Stock Exchange</th>
					</tr>
				</thead>
				<tbody>
					<tr
						*ngFor="let symbol of symbolsArray"
						(click)="highlightRow(symbol)"
						[ngClass]="{ highlight: symbol.id == selectedName }"
					>
						<td>{{ symbol.name }}</td>
						<td>{{ symbol.description }}</td>
						<td>{{ symbol.currency }}</td>
						<td>{{ symbol.stockExchangeLong }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
